* {
	box-sizing: border-box;
}

html {
    padding-top:50px;
}



body {
    border: 8px solid royalblue;
    border-radius: 20px;
    padding: 40px;
    width: 60%;
    height: 400px;
    margin: 0 auto;
    /*background: url('https://www.goodfreephotos.com/albums/other-photos/angel-entering-heaven-with-light.jpg');*/
}

#clock {
    height:120px;
    font-size: 40px;
    font-family: arial;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  color: royalblue;
}

h2 {
	text-align:center;
  

}

#alarm-container {
	text-align:center;
    font-family: Verdana;
    font-size: 0.6em;
    padding: 0.7em;
  color: white;
}

label {
	display:inline-block;
}

.timeofday {
    background-color: #eee;
}

.bigger {
    font-weight:bold;
    font-size: 18px;
}

#sounds {
    text-align: center;
    padding-top: 20px;
}

#setButton {
    float:left;
    background-color:royalblue;
    margin-top:10px;
}
#clearButton {
    float:right;
    background-color:red;
    margin-top:10px;
}

#setButton{
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, royalblue, steelblue);
    border: 0;
    padding: 10px 40px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    display: block;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

#setButton:hover{
    background: lightsteelblue;
    color: #000;
}


#clearButton{
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, royalblue, steelblue);
    border: 0;
    padding: 10px 40px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    display: block;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

#clearButton:hover {
    background: lightsteelblue;
    color: #000;
}
